/* .mainContenar{
    width: 2200px;
    margin-left: 100px;
}



.contenar{
    width: 1400px;
}

.cardMain{
    width: 500px;
}

.cardlast{
    width: 300px;
}

.lastcard{
    margin-right: 300px;
} */